<style>

        .table {
        padding: 20px;
        margin-left: 25%;
    }

    th{
        border: 2px black solid;
        padding: 15px;
    }

    td{
        border: 2px black solid;
        padding: 15px;
    }

    td a {
        text-decoration: none;
    }

</style>

{{!-- Recibe id, nombre y pais de los equipos que se van a mostrar en vista_equipos.handlebars --}}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Equipos</th>
            <th>Pais</th>
            <th>Acciones</th>
        </tr>
    </thead>
    
    <tbody>
        {{#each items as |item|}}
        <tr>
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.area.name}}</td>
            <td><a href="/equipos/{{item.id}}/mirar">Ver</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>