<form action="/form" method="post" enctype="multipart/form-data">
    <br>
    <label for="imagen">Logo del Equipo: </label>
    <input type="file" name="imagen" id="imagen" required>
<br><br>
    <label for="nombre">Nombre del Equipo: </label>
    <input type="text" id="nombre" name="nombre" required>
<br><br>
    <label for="nombreCorto">Nombre Corto: </label>
    <input type="text" name="nombreCorto" id="nombreCorto" required>
<br><br>
    <label for="abreviatura">Abreviatura: </label>
    <input type="text" name="abreviatura" id="abreviatura" maxlength="3" minlength="3" required>
<br><br>
    <label for="colores">Colores: </label>
    <input type="text" name="colores" id="colores" required>
<br><br>
    <label for="pais">Pais: </label>
    <input type="text" id="pais" name="pais" required>
<br><br>
    <label for="direccion">Direccion: </label>
    <input type="text" name="direccion" id="direccion" required>
<br><br>
    <label for="estadio">Estadio: </label>
    <input type="text" name="estadio" id="estadio" required>
<br><br>
    <label for="telefono">Telefono: </label>
    <input type="text" name="telefono" id="telefono" required>
<br><br>
    <label for="web">Sitio Web: </label>
    <input type="text" name="web" id="web" required>
<br><br>
    <label for="fundacion">Fecha de su Fundacion: </label>
    <input type="number" name="fundacion" id="fundacion" required>
<br><br>
    <input type="submit" value="Registrar">
</form>

{{!-- https://upload.wikimedia.org/wikipedia/commons/6/69/Escudo_del_Club_Atl%C3%A9tico_Newell%27s_Old_Boys_de_Rosario.svg --}}